body {
	background-color: #e9eef2;
}

.container {
	width: 948px;
	margin: auto;

}

.santa {
	height: 194px;
	width: 96px;
	position: relative;
	margin: 0 50%;
	left: -48px;
}

.circle {
	background-color: white;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	left: 50%;
	
	transform: translate(-50%);
	z-index: 1;
	position: absolute;
}

.triangle {
	width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 80px solid rgb(248,75,75);
    /*border-image: linear-gradient(rgba(248,75,75,1) 0%, rgba(248,130,51,1) 100%);*/
    left: 50%;
    transform: translate(-50%);
    margin-top: 10px;
    z-index: 0;
    position: absolute;
}

.rectangular {
 	width: 90px;
 	height: 10px;
 	background-color: white;
 	position: absolute;
 	left: 50%;
 	transform: translate(-50%);
 	margin-top: 87px;
 	border-radius: 15%;
 }

.beard {
 	background-color: white;	
 	width: 78px;
 	height: 110px;
 	left: 50%;
 	transform: translate(-50%);
 	margin-top: 95px;
 	position: absolute;
 	border-bottom-right-radius: 44%;
 	border-bottom-left-radius: 44%;
 }

.face {
 	position: absolute;
 	background-color: #ffebe1;
 	width: 64px;
 	height: 40px;
 	transform: translate(-50%);
 	left: 50%;
 	margin-top: 97px;
 	border-bottom-right-radius: 15%;
 	border-bottom-left-radius: 15%;
}

.eye_1 {
	background-color: black;
	height: 8px;
	width: 8px;
	position: absolute;
	left: 50%;
	margin-left: -18px;
	margin-top: 105px;
	border-radius: 50%;
}

.eye_2 {
	background-color: black;
	height: 8px;
	width: 8px;
	position: absolute;
	left: 50%;
	margin-left: 10px;
	margin-top: 105px;
	border-radius: 50%;
}

.nose {
	background: rgb(255,235,225);
	background: linear-gradient(rgba(255,235,225,1) 10%, rgba(223,132,133,1) 100%);
	height: 27px;
	width: 13px;
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	margin-top: 125px;
	border-bottom-right-radius: 40%;
 	border-bottom-left-radius: 40%;
}

.greeting {
	font-family: 'Open Sans', sans-serif;
	font-size: 40px;
	color: #596268;
	text-align: center;
	padding-top: 10px;
}
#menu {
	height: 85px;
	width: 948px;
	margin: 0 auto;
	position: relative;
}
#menu:before {
	display: block;
	content: '';
	width: 948px;
	height: 80px;
	background-color: white;
	border-radius: 10px;
	border-top: 5px solid transparent;
	background-image: linear-gradient(white, white), 
                      linear-gradient(to right, rgba(250,173,22,1), rgba(250,103,82,1));
  	background-origin: border-box;
  	background-clip: content-box, border-box;
	position: absolute;
	left: 50%;
	margin-left: -474px;
	z-index: -1;
}


#menu ul li a{
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	float: left;
	display: block;
	height: 85px;
	text-decoration: none;
	color: #596268;
	line-height: 80px;
	margin: 0 34px;
	display: flex;
}

#menu div img {
	margin-left: 3px;
}
#menu ul li a:hover{
	color: rgb(248,119,29);
}


#menu ul {
	margin: 100px auto 0 auto;
	padding: 0;
	list-style: none;
}
#menu span {
	margin: auto auto auto 10px;
	font-size: 15px;
	color: #f86623;

}

#menu img {
	margin-top: 10px;
	margin-right: 15px;
}
#bot_menu {
	position: relative;
	width: 948px;
	height: 1678px;
}
.album {
	width: 300px;
	height: 360px;
	margin-top: 24px;
	position: relative;
}

.left_album:before {
	content: '';
	display: block;
	background: rgb(248,119,29);
	background: linear-gradient( rgba(248,119,29,1) 30%, rgba(248,59,48,1) 100%);
	height: 360px;
	width: 51px;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	position: absolute;
	z-index: -1;
}
.left_album {
	height: 360px;
	width: 51px;
}



.album_icons button:hover:before {
	margin-top: 21px;
	left: 21px;
	content: '';
	position: absolute;
	z-index: 2;
	margin-left: 20px;
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 
	border-right:10px solid white; 
}


.album_icons {
	height: 360px;
}

.album_icons ul {
	width: 51px;
	list-style: none;
	margin: 10px -40px;
}

.album_icons ul li {
	width: 51px;
	height: 72px;

}

.album_icons ul li span {
	margin-left: 9px;
	margin-top: 18px;
}



.album_icons span {
	color: white;
}


.album_icons button {
	transition: transform .5s;
	width: 20px;
    height: 20px;
    border-top-left-radius: 10px;
    text-decoration: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}



.right_album {
	width: 249px;
	height: 311px;
	margin-left: 51px;
	margin-top: -360px;
}

.right_album:before {
	content: '';
	display: block;
	background-color: white;
	height: 311px;
	width: 249px;
	position: absolute;
	left: 51px;
	top: -0.01px;
	background: rgb(255,255,255);
	background: linear-gradient(rgba(255,255,255,1) 30%, rgba(204,205,205,1) 100%);
	border-top-right-radius: 10px;
	z-index: -1;
}

.right_album_bot:before {
	content: '';
	display: block;
	
	width: 249px;
	background-color: white;
	height: 49px;
	left: 51px;
	border-bottom-right-radius: 10px;
}

.right_album_photo {
	height: 311px;
}

.right_album_bot {
	width: 249px;
	height: 49px;
	position: absolute;
	bottom: 0.01px;
}

.right_album_photo ul {
	position: absolute;
}

.none_style {
	top: 0.01px;
	list-style: none;
	line-height: 30px;
}

.none_style img {
	margin-left: -25.5px;
}

.none_style ul {
	margin-left: -25.5px;
}

.right_album_photo img {
	
	width: 220px;
	height: 92px;
}


.buttons {
	position: absolute;
	width: 249px;
	height: 49px;
	top: 0.01px;
}

.button1 {
	height: 24px;
	width: 24px;
	text-decoration: none;
  	display: inline-block;
	background-color: white;
	margin: 13px;
	border-radius: 50%;
	border: 1.5px solid #f85e43;
	cursor: pointer;
}

.btn1 {
	margin-left: 17px;
}

.btn2 {
	margin-left: 148px;
}

.btn1 span {
	margin-left: -8px;
	margin-top: -2.5px;
}

.btn2 span {
	margin-left: -7px;
	margin-top: -2.5px;
}

.button1 span {
	color: #f85e43;
}

.album_navigation {
	height: 49px;
	width: 100px;
	position: absolute;
	top: 0.01px;
	left: 75px;
	
}

.album_navigation p {
	font-family: 'Open Sans', sans-serif;
	margin-top: 13px;
	margin-left: 7px;
}

.three_dots {
	margin-top: -95px;
	line-height: 2px;
	list-style: circle;
	color: white;
	left: 220px;
	line-height: 8px;
}

#graph {
	height: 480px;
	width: 300px;
	margin-left: 324px;
	margin-top: -360px;
}

#graph:before {
	content: '';
	display: block;
	height: 480px;
	width: 300px;
	position: absolute;
	background-color: white;
	border-radius: 10px;
}

#loading {
	height: 68px;
	width: 300px;
	margin-left: 648px;
	margin-top: -480px;
}

#loading:before {
	content: '';
	display: block;
	height: 68px;
	width: 300px;
	position: absolute;
	background-color: white;
	border-radius: 10px;
}

.socials {
	height: 106px;
	width: 300px;
	margin-top: 24px;
	margin-left: 648px;
}

.socials:before {
	content: '';
	display: block;
	height: 106px;
	width: 300px;
	position: absolute;
	background-color: white;
	border-radius: 10px;
	z-index: -2;
}

.sign_in {
	height: 239px;
	width: 300px;
	margin-top: 24px;
	margin-left: 648px;

}

.sign_in:before {
	content: '';
	height: 239px;
	width: 300px;
	position: absolute;
	background-color: white;
	border-radius: 10px;
	border-bottom: 19px solid transparent;
	background-image: linear-gradient(white, white), 
                      linear-gradient(to right, rgba(250,173,22,1), rgba(250,103,82,1));
  	background-origin: border-box;
  	background-clip: content-box, border-box;
}


.loading1 {
	position: absolute;
	width: 257px;
	height: 20px;
	top: 10px;

}

.load {
	width: 258px;
	height: 10px;
	border: 1px solid #d7d7d7;
	position: absolute;
	margin-left: 20px;
	margin-top: 39px;
	background-color: white;
	border-radius: 10px;
}

.orange_load {
	width: 187px;
	height: 10.2px;
	position: absolute;
	border-radius: 10px;
	background: rgb(250,173,22);
	background: linear-gradient(90deg, rgba(250,173,22,1) 0%, rgba(250,103,82,1) 100%);
}

.socials_socials {
	height: 56px;
	width: 300px;
	position: relative;
	justify-content: space-between;
}

.socials_socials:before {
	content: '';
	height: 56px;
	width: 300px;
	position: absolute;
	background: rgb(250,173,22);
	background: linear-gradient(90deg, rgba(250,173,22,1) 0%, rgba(250,103,82,1) 79%);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	z-index: -1;
}

.socials_socials ul {
	height: 33px;
	display: block;
	list-style: none;
	margin: 0 -20px;
}

.socials_socials ul li {
	float: left;
	font-size: 30px;
	color: white;
	margin: 12px 11px;
}

.socials_text {
	font-family: 'Open Sans', sans-serif;
	color: #979797;

}

.socials_text ul {
	height: 16px;
	display: block;
	list-style: none;
	margin-left: -23.5px;
	margin-top: 10px;
}

.socials_text ul li {
	float: left;
	
}

.st1 {
	margin: 5px 13px;
}

.st2 {
	margin: 5px 7px;
}

.st3 {
	margin: 5px 26px;
}

.st4{
	margin: 5px 19px;
}

.socials_socials button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	color: white;
	font-size: 30px;
}



.sign_in_border {
	position: absolute;
	width: 257px;
	height: 13px;
	background-color: white;
	margin-top: 236px;
	border-radius: 5px;
	border-top-right-radius: 2px;
	border-bottom-left-radius: 0px ;
}

.sign_in p {
	position: absolute;
	margin-top: 241px;
	font-family: 'Open Sans', sans-serif;
	font-size: 11px;
	margin-left: 276px;
	color: white;
}

.sign_in span {
	font-family: 'Open Sans', sans-serif;
	margin-top: 35px;
	position: absolute;
	font-size: 15px;
	color: black;
	margin-left: 74px;
}

.form_fields {
	height: 76px;
	position: absolute;
	width: 248px;
	margin: 10px;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	margin-top: 80px;
	margin-left: 23px;

}

.form_field {
	
}

.form_field input {
	height: 31px;
	width: 248px;
	border: 1px solid #e0dfdf;
	border-radius: 10px;
}

.form_fields i {
	position: absolute;
	margin-top: -27px;
	margin-left: 230px;
	color: #e0dfdf;
}

.form_fields button {
	border-radius: 5px;
	color: #fb872b;
	background-color: transparent;
	border: 1px solid #fb872b;
	cursor: pointer;
	height: 30px;
	width: 140px;
	margin-top: 27px;
	margin-left: 58px;
	font-family: 'Open Sans', sans-serif;
}

.form_fields div:nth-child(3){
	margin-top: 10px;
}

.date_weather {
	width: 300px;
	height: 96px;
	margin-top: -76.8px;
}

.date_weather:before {
	content: '';
	height: 96px;
	width: 300px;
	position: absolute;
	background-color: white;
	border-radius: 10px;
}

.date_weather p {
	position: absolute;
	font-family: 'Open Sans', sans-serif;
}

#day1 {
	margin-top: 13px;
	margin-left: 24px;
	font-size: 30px;
	color: #939393;

}

#day_month {
	margin-top: 50px;
	margin-left: 30px;
	font-size: 15px;
	color: #939393;
}

.celcium {
	font-family: 'Open Sans', sans-serif;
	color: #fa5f48;
	margin-top: 1px;
	margin-left: 80px;
	font-size: 60px;
}

.line {
	position: absolute;
	width: 47px;
	transform: rotate(90deg);
	background-color: #e2e0e0;
	height: 1px;
	margin-top: 44px;
	margin-left: 140px;

}

.weather_img {
	position: absolute;
	margin-top: -5px;
	margin-left: 180px;
}

.bacon_ipsum {
	height: 288px;
	width: 624px;
	margin-top: 24px;
	margin-left: 324px;

}

.bacon_ipsum {
	content: '';
	height: 288px;
	width: 624px;
	position: absolute;
	background-color: white;
	border-radius: 10px;
	border-top: 6px solid transparent;
	background-image: linear-gradient(white, white), 
                      linear-gradient(to right, rgba(250,173,22,1), rgba(250,103,82,1));
  	background-origin: border-box;
  	background-clip: content-box, border-box;
}

.bacon_ipsum_img {
	width: 244px;
	height: 200px;
	margin-left: 24px;
	margin-top: 26px;
	background-image: url('../img/1691682.jpg');
	background-size: cover;
}

.bacon_ipsum_img span {
	margin-left: 92px;
	margin-top: 70px;
	font-size: 60px;
	color: #ffffff;
}

.admin span {
	margin-top: 20px;
	margin-left: 29px;
	position: absolute;
}

.admin p {
	margin-top: 20px;
	margin-left: 60px;
	font-size: 17px;
	font-family: 'Open Sans', sans-serif;
}

#blog_time {
	margin-top: -37.4px;
	margin-left: 226px;
	font-family: 'Open Sans', sans-serif;
}

.bacon_ipsum_text {
	margin-top: -200px;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	margin-left: 290px;
}

.bacon_ipsum strong {
	position: absolute;
	font-size: 24px;
	margin-top: -255px;
	margin-left: 290px;
}

.share_save span {
	position: absolute;
	margin: -206px 540px;
}

.share_save span:nth-child(2) {
	margin-left: 570px;
}

.bacon_ipsum p:nth-child(7) {
	color: #fa6a41;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	margin-top: 20px;
	margin-left: 290px;
}

.contact_us {
	margin-top: 24px;
	width: 300px;
	height: 332px;
	border-top: 6px solid transparent;
	background-image: linear-gradient(white, white), 
                      linear-gradient(to right, rgba(250,103,82,1) , rgba(250,173,22,1));
  	background-origin: border-box;
  	background-clip: content-box, border-box;
  	border-radius: 10px;
  	background-color: #ffffff;
}

.contact_us p {
	margin-top: 10px;
	margin-left: 29px;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
}

.contact_us input:nth-child(2) {
	height: 31px;
	border: 1px solid #e0dfdf;
	width: 248px;
	margin-left: 22px;
	margin-top: -10px;
	border-radius: 5px;
	font-family: 'Open Sans', sans-serif;
}

.contact_us input:nth-child(3) {
	height: 31px;
	border: 1px solid #e0dfdf;
	width: 248px;
	margin-left: 22px;
	margin-top: 10px;
	border-radius: 5px;
	font-family: 'Open Sans', sans-serif;
}

.contact_us textarea {
	height: 112px;
	border: 1px solid #e0dfdf;
	width: 248px;
	margin-left: 22px;
	margin-top: 11px;
	border-radius: 5px;
	text-align: left;
	resize: none;
	font-family: 'Open Sans', sans-serif;
}

.contact_us button {
	border-radius: 5px;
	color: #fb872b;
	background-color: transparent;
	border: 1px solid #fb872b;
	cursor: pointer;
	height: 30px;
	width: 100px;
	margin-top: 18px;
	margin-left: 100px;
	font-family: 'Open Sans', sans-serif;
}